// background color
$mainBgCol: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
// text color
$text-color: white;

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  h1 {
    color: $text-color;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.389vw;
    line-height: 2.083vw;
  }
  .logo {
    display: flex;
    align-items: center;
    opacity: 0.7;
  }
  .logoLink {
    text-decoration: none;
  }
  .b {
    color: $text-color;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.389vw;
    line-height: 2.083vw;
    border: solid 0.069vw $text-color;
    width: 2.778vw;
    height: 2.778vw;
    border-radius: 3.472vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.347vw;
    opacity: 0.7;
    transition: 0.3s;
  }
  .b:hover {
    border: 1px solid rgba(207, 181, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(207, 181, 255, 0.05);
    opacity: 1;
    cursor: pointer;
  }
  ul {
    display: flex;
    padding: 0.694vw;
    width: 21.181vw;
    height: 3.472vw;
    justify-content: space-between;
    align-items: center;

    li {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1vw;
      line-height: 2.083vw;
      cursor: pointer;
      color: $text-color;
      list-style-type: none;
      text-transform: capitalize;
      opacity: 0.7;
      transition: 0.3s;
    }
    li:hover {
      opacity: 1;
      text-shadow: 1px 1px 35px $text-color;
    }
  }
}

.nav {
}
.btn {
  border: solid 0.069vw $text-color;
  padding: 0vw 0.694vw;
}
.arrow {
  display: none;
  width: 10px;
  height: 10px;
}

.icon {
  color: $text-color;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
.xIcon {
  color: $text-color;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
.narrowMenu {
  display: none;
  height: 0;
}
.menuIcon {
  display: none;
}

@media only screen and (max-width: 425px) {
  .menuIcon {
    display: block;
  }

  .nav {
    flex-direction: column;
    margin-top: 10vw;
    align-items: center;
    .logo {
      .b {
        width: 15vw;
        height: 15vw;
        border-radius: 50vw;
        font-size: 10vw;
        margin: 2vw;
        text-decoration: none;
      }
      h1 {
        font-size: 10vw;
      }
    }

    .wideMenu {
      display: none;
    }
    .narrowMenu {
      display: block;
      transition: 2s;
      height: 90vh;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0.694vw;
        width: 100%;
        height: 50vh;
        margin-top: 10vw;
        transition: 1s;
        li {
          font-size: 10vw;
          line-height: 35.083vw;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    margin-top: 5vw;
    ul {
      padding: 0.694vw;
      width: 40vw;
      height: 3.472vw;

      li {
        font-size: 2vw;
        line-height: 2.083vw;
      }
    }
    h1 {
      font-size: 4.389vw;
      line-height: 6.083vw;
    }
    .logo {
      display: flex;
      align-items: center;
      opacity: 0.7;
    }
    .b {
      font-size: 4.389vw;
      line-height: 4.083vw;
      border: solid 0.069vw $text-color;
      width: 5.778vw;
      height: 5.778vw;
      border-radius: 3.472vw;
      margin-right: 0.347vw;
      opacity: 0.7;
    }
  }
}
